@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
}
/* h1{ margin: 0; } */
#contact-pop { 
    font-size: 12px; 
      -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
  margin: 5em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  z-index: 10;
  border-radius: 999px;
  top: 1;
  right: 1;
  position: sticky;
}


/* ===========Button Styling =============== */


.glow-on-hover {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #000;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #0bce1c;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 999px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
      color: #000
  }
  
  .glow-on-hover:active:after {
      background: transparent;
  }
  
  .glow-on-hover:hover:before {
      opacity: 1;
  }
  
  .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
  }
  
  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
  
  /* #about .animation {
    align-items:center;
    justify-content: center;
    margin: 0 auto;
  
  }
  
  #about .animation img {
    padding-left: 4rem;
    padding-top: 2rem;
    z-index: -1;
  }
  
  
  #about .glow-on-hover {
    margin: 0 auto;
  }
h4 {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}
#contact-pop p {
    font-size: 9px;
} */


#contact-pop { 
  font-size: 12px; 
    -webkit-user-select: none;       
-moz-user-select: none; 
-ms-user-select: none; 
margin: 5em auto;
width: 100px; 
height: 30px; 
line-height: 30px;
font-weight: 700;
text-align: center;
cursor: pointer;
/* text-transform: uppercase; */
z-index: 10;
border-radius: 999px;
top: 1;
right: 1;
position: sticky;
}

#contact-pop:hover { background: #666; }
#contact-pop:active { background: #444; }

#contactForm { 
  display: none;
  border: 6px solid rgb(10, 151, 53);; 
  border-radius: 30px;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 10;
  }

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: 1.2rem;
    display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  text-transform: uppercase;
  background: rgb(10, 151, 53);
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
  border-radius: 999px; 
}