.main-head {
    background-color: #06333a;
}
/* .k-pic {
    width: 250px;
    height: 250px;
  } */
.about-head-2 p {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 50ch;
    margin: 2rem;
    padding: 2px;
}



.table-wrapper{
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url("https://i.ibb.co/X7ZvZXH/mountain-goat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
     width: 100%;  ;
    background-color:#fff;
    align-items: center;
    text-align: center;
    /* min-width: 75vw; */
    /* padding:40px; */
    margin:0 auto;
    /* border-left:30px solid #1D81B6;
    border-right:1px solid #ddd; */
    -moz-box-shadow:0px 0px 16px #aaa;
}

.table-wrapper h1 {
    margin-top: 2rem;
  color: #06333a;
}
.head{
    font-family:Helvetica,Arial,Verdana;
    text-transform:uppercase;
    font-weight:bold;
    font-size:12px;
    font-style:normal;
    letter-spacing:3px;
    color:#888;
    border-bottom:3px solid #f0f0f0;
    padding-bottom:10px;
    margin-bottom:10px;
}
.head a{
    color:#1D81B6;
    text-decoration:none;
    float:right;
    text-shadow:1px 1px 1px #888;
}
.head a:hover{
    color:#f0f0f0;
}

.table-wrapper h2{
    /* font-family:"Trebuchet MS",sans-serif; */
    font-size: 2rem;
    font-style:normal;
    background-color:#f0f0f0;
    margin:40px 0px 30px -40px;
    padding:0px 40px;
    clear:both;
    float:left;
    width:100%;
    color:#aaa;
    text-shadow:1px 1px 1px #fff;
}

.table-wrapper .column {
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
/* Table 1 Style */
table.table1{
    /* display: inline-block; */

    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 70vw;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    font-size: 1.5rem;
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
