* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  #about {
      display: block;
  }
  
  .about-body {
      display: flex;
   
      /* align-content: center; */
      /* align-items: left; */
      width: 100%; 
      /* padding: 20px;
       margin: 10px 75px 10px;  */
       padding: 20px 100px 20px; 
  }

  .about-body .row {
    width: inherit;
      display: flex;
      flex-direction: column;
    
  }
  .about-body .row .column {
      width: auto;
      height: auto;
      align-items: center;
}

  .about-body h2 {
     padding: 15px 7px 0 7px;
      font-size: 3rem;
      text-align: center;
  }
  
  
.about-body ul {
        display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25px;
      text-align: left;
      list-style: inside;
      font-weight: 500;
      /* margin: 0px 5px 10px 15px; */
}

/* .about-body .row .column {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   flex-direction: column;
   align-items: left;
} */

.about-body .row .column ul li {
  color: #06333a;
  text-align: left; 
  list-style-type: circle;
  height: auto; 
  margin: 10px 0;
   font-family: "Montserrat", sans-serif;
 }