  @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  
  /* Create two equal columns that float next to each other */
  #about {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      /* min-width: 100vw; */
      min-height: auto;
  }
  .about-head-2 {
   padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .about-head-2 p {
    box-sizing: border-box;
   text-align: left; 
   flex-direction: row;
     align-items: top;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    min-height: none;
  }

.about-head-2 p img {
     border-radius: 50%;
    float: left;
    margin: 10px;  
    padding-right: 2rem;
  }

  .about-body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url("https://i.ibb.co/X7ZvZXH/mountain-goat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
     width: 100%; 
     text-align: center;

  }
  .about-body h2 {
    padding: 15px 7px 0 7px;
     font-size: 2.5rem;
     text-align: center;
 }

.about-body .row {
   display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap; 
      }
.about-body .row .column {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 15px;
} 

.about-body ul {
  display: inline-block;
    margin-left: 25px;
      text-align: left;
      list-style: inside;
      font-weight: 500;
    }
.about-body .row ul li {
  color: #06333a;
  text-align: left; 
  list-style-type: circle;
  height: auto; 
  margin: 10px 0;
   font-family: "Montserrat", sans-serif;
   font-size: 1.5rem;
 }