/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  /* font-family: "Poppins", sans-serif; */
 font-family: "albertan-pro", sans-serif;
font-style: normal;
font-weight: 200;  
} 

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-size: 2.2rem;
  font-family: "Montser5rat", sans-serif;
}

h5 {
  font-size: 1.8rem;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #f4832e;
}

button {
  padding: 2rem 6rem;
  background: #f4832e;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #06333a;
}

/* Nav Section With HERO */

.main-head {
  background: #06333a;
  color: #f4832e;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex; 
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center; 
  /* flex-wrap: wrap; */
}


nav .logo {
  display: flex;
   flex: 1 1 40rem;   
    /* border-radius: 50%; */
    overflow: hidden; 
    margin-top: -6px; 
  }

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #f4832e;
}


/* #logo {
  flex: 2 1 40rem; */
  /* font-family: "Pattaya", sans-serif;
  font-weight: 400; */
/* } */
/* 
.logo-img {
  flex: 2 1 40rem;
  size: 5%;
} */

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/* ABOUT SECTION */

.about-wrapper {
  padding-top:  25px;
  background: #06333a;
  /* background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;  background: rgba(19, 28, 39, 0.8); */

 }

 .about-head h2 {
  /* width: 90%; */
  padding-top: 3rem;
  color: #f4832e;
  font-family: "albertan-pro", sans-serif;
  font-style: normal;
  font-weight: 200;  
  margin: auto;
  text-align: center;
}

#about {
  min-height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), transparent),
    url("./img/mountain-goat.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* padding: 25px;  */
  color: #f4832e;
}

/* .about-head p { */
  /* padding: 1rem 0rem; */
  /* text-decoration: underline; */
  /* text-align: center;
  color: #e2e2e2; */
  /* 
  text-decoration-thickness: 0.5rem;
  */
/* } */
.about-head-2 {
  font-family: "Poppins", sans-serif;
  height: 30%;
width: 60%;
 padding: 50px;
  margin: 100px;
 /* background: linear-gradient(#06333a, #f4832e);  */
  background: linear-gradient(rgba(0, 0, 0, 0.85), transparent);
  color: #e2e2e2;
  font-weight: lighter;
  font-size: 1rem;
}

.about-head-2 h4 {
  font-family: "albertan-pro", sans-serif;
  font-style: normal;
  font-weight: 200;  
  padding-top: 30px;
  padding-botton: 15px;
  color: #f4832e;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}
/* Cloud Animation */

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* therapists section*/

.services-head {
  background: #f4832e;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #06333a;
  text-align: center;
}
.services-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}

.card-icon {
  background: #06333a;
}

/* Contact Section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/mountain-side.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

/* Footer Section */

footer {
  color: white;
  background: #06333a;
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
  /* padding-top: 1rem; */
}
footer ul {
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: #e2e2e2;
}
footer a:hover{
  color: #f4832e;
}


/* Button focus to make website accessible */

button:focus {
  background: #2c3f57;
  outline-style: solid;
  outline-color: cornflowerblue;
}

/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: .5rem;
    margin: 15px;
  }
}
